@import url("/fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-app-rgb: 255, 255, 255;
    --color-navbar: #f9f9f9;

    --color-Tint-7: #e43434;
    --color-Tint-6: #f66262;
    --color-Tint-5: #fca197;
    --color-Tint-4: #f6bbbb;
    --color-Tint-3: #f9d2d2;
    --color-Tint-2: #fce8e8;
    --color-Tint-2: #fdf1f1;

    --color-Error: #c30000;
    --color-ELight1: #ed2e2e;
    --color-ELight2: #fff2f2;

    --color-Success: #00966d;
    --color-SLight1: #00ba88;
    --color-SLight2: #f3fdfa;

    --color-Warning: #a9791c;
    --color-WLight1: #f4b740;
    --color-WLight1: #fff8e1;
  }
}

@layer components {
  .btn--primary {
    @apply px-[23px] py-[11.5px] text-xs xl:text-sm rounded-lg cursor-pointer text-center whitespace-nowrap border;
  }
  .btn--secondary {
    @apply bg-primary text-white rounded-lg h-10;
  }
  .btn--hover {
    @apply bg-Gr2 border-primary text-primary hover:bg-red-500 hover:text-white;
  }

  .caption--mobile--footer {
    @apply text-[10px] text-Gr9 mb-[2px];
  }

  .caption--desktop--footer {
    @apply text-xs mb-1 text-Gr9;
  }
  /* .btn--primary {
    @apply px-4 py-3 bg-primary-900 text-white hover:bg-primary-800 shadow-lg shadow-primary-300 dark:shadow-secondary-200;
  }
 */
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  /* border: none; */
  outline: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: "shabnam";
  font-size: 12px;
  min-height: 100vh;
  user-select: none;
}

h1,
h2,
h3 {
  color: #353535;
}

p {
  font-size: 14px;
  font-weight: 400;
}

h1,
h2,
h3,
h4 {
  font-size: 20px;
  font-weight: 700;
}

@media screen and (min-width: 1024px) {
  p {
    font-size: 1rem;
    font-weight: 400;
  }
  h1 {
    font-size: 54px;
    font-weight: 700;
  }
  h2 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.25rem;
  }
}
